@import 'hover/hover';

// Variables
$primary: #787874;
$primary-dark: #5E5D59;
$primary-light: #959595;
$secondary: #504E51;
$secondary-dark: #3E3C3F;
$secondary-light: #656565;
$tertiary: #5E1C5E;

$white: #fff;
$black: #333;

// Extends
%fake-browser-ui {
  .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
  }
  
  span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
  }
}

%header {
  font-family: 'Montserrat', sans-serif;
  color: $white;
  text-shadow: 1px 1px 1px $black;
  text-shadow: -1px -1px -1px $primary-light;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Block Elements
h1,
h2 {
  @extend %header;
}

section {
  @extend %clearfix;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 850px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Main Sections
#main-nav {
  background-color: $primary;
}

#home {
  padding-top: 240px;
  background-image: url('http://www.magic4walls.com/wp-content/uploads/2014/02/city-new-york-vintage-photography-skyscrapers-evening-hd-wallpaper.jpg');

  h1,
  h2 {
      margin: 0;
  }

  h1 {
    font-size: 46px;
  }

  nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid $white;
    box-shadow: 0px -1px 0px 0px $black;
  }

}

#about {
  background-image: url('http://animalnewyork.com/wp-content/uploads/Editta-Sherman-87930d_EdittaShermanSubway_Cunningham.jpg');
  
  article {
    padding-top: 20px;
    background: rgba(0,0,0,0.2);
  }

  p {
    @extend %header;
    font-size: 20px;
    line-spacing: 30px;
  }
}

#portfolio {
  background-image: url('http://static1.squarespace.com/static/52b9c541e4b05b51357ee1b8/t/555f58c1e4b025563eb623b0/1432312002451/coney_island_ferris_wheel-wallpaper-1440x900.jpg?format=2500w');

  li {

    &+li {
      padding-top: 10px;
    }

    .img-background {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      &.al-diaz {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/al-diaz.png');
      }
      &.nyc-prepared {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/nyc-prepared.png');
      }
      &.action-switchboard {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/action-switchboard.png');
      }
      &.seeing-more-possibilities {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/seeing-more-possibilities.png');
      }
      &.glocal {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/glocal.png');
      }
      &.yes-men-are-revolting {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/yes-men-are-revolting.png');
      }
      &.sfic {
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/sfic.png');
      }
      &.biz-decals{
        background-image: url('http://sandbox.misfist.com/portfolio/assets/images/1010-biz-decals.png');
      }

    }

    .overlay {
      display: table;
      width: 100%;
      height: 220px;
      background: rgba(0,0,0,.50);
      text-align: center;
      opacity: 0;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;

      &:hover,
      &:focus {
        opacity: 1;
      }

      .plus {
        font-size: 36px;
        display: table-cell;
        vertical-align: middle;
      }
    }

  }

}

#contact {
  background-image: url('https://41.media.tumblr.com/aaab3ad5e665d412c6d2f77dbaf7424c/tumblr_msr5hbCqFM1s7n9hno1_1280.jpg');
}

footer {
  background-color: $primary-dark;
  padding-top: 20px;
  padding-bottom: 20px;
  a,
  a:link {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

// Common Elements
img {
  @extend .hvr-fade;
}

.btn {
  box-shadow: 1px 1px 0px 0px $primary-light;
  @extend .hvr-grow;
  @extend %header;

  background-color: $black;
  color: $white;

  a,
  a:link {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $white;
  }
}


// Specific Elements
.navbar-brand {
  margin: 0;
  a,
  a:link {
    color: $white;
  }
}

.image-border {
  border: 15px solid $primary;
  border-radius: 50%;
}

.social-links {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
